@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }


.main {
    height: 80vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.title {
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}