.art-showcase-container {
    animation: fade 1s ease-in-out;
}

.image-grid-container {
    overflow-y: auto;
    max-height: 450px;
  }

  .image-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 80px;
  }
  
  .grid-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(73, 73, 73);
    transition: transform 0.3s ease-in-out;
  }
  
  .grid-image:hover {
    transform: scale(1.1);
  }
  
  .selected-image-container {
    text-align: center;
  }
  
  .selected-image-container img {
    max-width: 100%;
    max-height: 70vh;
    box-shadow: 5px 5px 5px rgb(73, 73, 73);
  }
  
  .back-btn {
    position: relative;
    right: -10%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f92a2a;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff2020;
  }

  