@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.carousel {
    animation: fade 1s ease-in-out;
}

.carousel-images {
    position: relative;
    height: 72vh;
    max-width: 650px;
    margin: auto;
    overflow: hidden;
  }

.carousel-images img {
    width: 99%;
    height: 99%;
    box-shadow: 5px 5px 5px rgb(73, 73, 73);
}

.slide_direction {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 8px 8px 13px;
    margin: 0 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    height: 50px;
    width: 50px;
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

.carousel-indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dot {
    background-color: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.active {
    background-color: #fa2020;
}