.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.round-image {
    border-radius: 50%;
}

.logo {
    font-size: x-large;
    font-weight: bold;
}

.Navbar a {
    text-decoration: none;
    color: white;
}

.nav-links a {
    margin: 0 10px;
}

.profile {
    margin: 0;
    
    color: white;
}
.card {
    width: 250px;
    height: 300px;
    overflow: auto;
}

#circle-avatar {
    display: grid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffbd30;
    place-items: center;
}

#circle-avatar span {
    font-size: 48px;
    font-weight: bold;
}
  